/** MAIN **/

/** Reservas **/

#reservas {
    padding: 30px 0;
    
    .contact-info,
    .contact-form {
        text-align: left;
        margin-bottom: 40px;    
    }

    .contact-info {
        h4 {
            width: 100%;
            border-bottom: 1px solid $border-color-reservas-contactinfo-h4;
            font-weight: 600;
            margin-bottom: 30px;
            color: $font-color-reservas-contactinfoh4-input;    
        }

        h5 {
            font-size: $font-size-reservas-contactinfo-h5;
            width: 100%;
            font-weight: 600;
            color: $font-color-reservas-contactinfoh5-input;      
        }

        p{
            margin-bottom: 15px;
            color: $font-color-reservas-contactinfop-input;     
        }
    }

    @media screen and (min-width: 768px) {
        .contact-form {
            margin-top: 29px;
        }
    }

    .contact-form {
        input {
        	height: 50px;
            width: 100%;
            border: 1px solid $border-color-reservas-contactform-input;
            padding-left: 20px;
            font-size: $font-size-reservas-contactform-input;
            color: $font-color-reservas-contactform-input;
            margin-bottom: 30px;

            &::placeholder {
            	color: $font-color-reservas-contactform-input-placeholder;    
            }
        }

        textarea {
        	height: 150px;
            width: 100%;
            border: 1px solid $border-color-reservas-contactform-textarea;
            padding-left: 20px;
            padding-top: 12px;
            font-size: $font-size-reservas-contactform-textarea;
            color: $font-color-reservas-contactform-textarea;
            margin-bottom: 24px;
            resize: none;
            
            &::placeholder {
            	color: $font-color-reservas-contactform-textarea-placeholder;    
            }
        }

        button {
            font-size: $font-size-reservas-contactform-button.6rem;
            padding: 14px 35px;    
        }
    }    
}