/** MAIN **/

/** Nosotros **/

#equipo,
#labarberia {
    padding: 30px 0;
    font-size: $font-size-nosotros-contactform-textarea;
    color: $font-color-nosotros-contactform-textarea;

p {
    color: $font-color-nosotros-contactform-p;
    
}

}